:root{
    --text: #0e0812;
    --text-secondary: #2B0935;
    --background: #fbf8fc;
    --primary: #9450b9;
    --secondary: #bf94d6;
    --accent: #b077cf;
}


body[data-theme="light"]{
    --text: #0e0812;
    --text-secondary: #2B0935;
    --background: #fbf8fc;
    --primary: #9450b9;
    --secondary: #bf94d6;
    --accent: #b077cf;
}

body[data-theme="dark"]{
    --text: #D8B5C4;
    --text-secondary: #af8f9d;
    --background: #1E091C;
    --primary: #292130;
    --secondary: #251C28;
    --accent: #21171F;
}

/*body[data-theme="dark"]{
    --text: #F7DBFF;
    --text-secondary: #F9E5FF;
    --background: #2A0934;
    --primary: #C91BFE;
    --secondary: #8601AF;
    --accent: #3A004C;
}*/

/*body[data-theme="blue2"]{
    --text: #051542;
    --background: #EAEFFF;
    --primary: #2F66FE;
    --secondary: #678FFE;
    --accent: #4778FF;
}*/

body[data-theme="blue"]{
    --text: #0E1833;
    --text-secondary: #DBE5FF;
    --background: #EBF0FD;
    --primary: #82A0F2;
    --secondary: #103498;
    /*--secondary: #1c48c2;*/
    --accent: #265AE8;
}

body[data-theme="red"]{
    --text: #FFE2DC;
    --text-secondary: #33100C;
    --background: #FDEDEB;
    --primary: #F69288;
    --secondary: #EF3827;
    --accent: #A6190C;
}

body[data-theme="spring"]{
    --text: #EBF7E3;
    --text-secondary: #1D370A;
    --background: #FBFDF9;
    --primary: #A3DA7C;
    --secondary: #6CBA34;
    --accent: #3E6B1E;
}

body[data-theme="summer"]{
    --text: #1B1B09;
    --background: #FDFDE2;
    --primary: #F9F9A4;
    --secondary: #F2F243;
    --accent: #C4C40E;
}

body[data-theme="autumn"]{
    --text: #FEEEDC;
    --text-secondary: #2F230B;
    --background: #FBECCC;
    --primary: #F4C76C;
    --secondary: #E7A012;
    --accent: #8A5F0A;
}



body{
    background: var(--background);
    color:var(--text);
}

.color-bg-text{
    background-color: var(--text);
}
.color-bg-background{
    background-color: var(--background);
}
.color-bg-primary{
    background-color: var(--primary);
}
.color-bg-secondary{
    background-color: var(--secondary);
}
.color-bg-accent{
    background-color: var(--accent);
}
.color-text{
    color: var(--text);
}
.color-text-secondary{
    color:var(--text-secondary);
}
.color-background{
    color: var(--background);
}
.color-primary{
    color: var(--primary);
}
.color-secondary{
    color: var(--secondary);
}
.color-accent{
    color: var(--accent);
}

.btn{
    --bs-btn-active-bg:var(--primary);
}

.btn-primary{
    background-color: var(--primary);
    --bs-btn-color:var(--text-secondary);
    --bs-btn-border-color:var(--text-secondary);
    --bs-btn-hover-border-color:var(--text);
    --bs-btn-active-border-color:var(--background);
    --bs-btn-hover-color:var(--text-secondary);
}

.btn-secondary{
    background-color: var(--secondary);
    --bs-btn-color: var(--text);
    --bs-btn-border-color:var(--background);
    --bs-btn-hover-border-color:var(--text-secondary);
    --bs-btn-active-border-color:var(--text);

    --bs-btn-hover-color:var(--text-secondary);
}

.btn:hover{
    background-color: var(--accent);
}

.logo{
    height: 50px;
    background-color: #777;
    border-radius: 50%;
    transition: 1000ms;
}

.logo:hover{
    transform: rotate(360deg);
    transition: 2500ms;
    filter: drop-shadow(0px 0px 5px rgba(255,255,0,1));
}

.material-symbols-rounded{
    font-size: 28pt;
}

.ikon{
    text-decoration: none;
    color:var(--text);
}
.ikon:hover,
.nav-link:hover{
    filter:drop-shadow(0px 0px 10px var(--background));
    color:var(--secondary);
    transition: 250ms;
}

.form-control{
    --bs-border-color:var(--text);

}

.gomb{
    transition: 250ms;
}

.gomb:hover{
    background-color: var(--text-secondary);
    color: var(--background);
    transition: 500ms;
}
/*
header {
    background-color: #301934;
    background-color: var(--primary);
}
*/
main{
    min-height: 100vh;
}

body{
    background-color:gray;
    width: 100%;
}

.navbar-brand,
.nav-link,
.navbar-text{
    color:var(--text);
}

.nav-link:hover,
.nav-link:visited,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:visited{
    text-decoration: none;
    color: #ccc;
}
.nav-link,
.navbar-brand{
    text-decoration: none;
}

.kartya {
    width: 100%;
    height: 200px;
    border-width: 2px;
    border-color: black;
}

.belepteto {
    width: 50%;
    height: 50vh;
    border-width: 2px;
    /*border-color: black;*/
    border-color: var(--text);
}

.beleptxt{
    height: 130px;
    padding-bottom: 10px;
}

.kartya:hover{
    background-color: #ccc;
}


.card-header{
    /*background-color: #301934;
    color:white;*/
    border-width: 1px;
    /*border-color:black;*/
    border-color: var(--text);
}

footer{
    color:lightgray;
}

.col a, .col a:visited, .col a:hover{
    text-decoration: none;
}

table a, table a:visited, table a:hover{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:768px){
    .belepteto {
        height: 65vh;
    }
}

/* órarend */
table {
	margin-top: 2%;
	width: max-content;
	border: 1px solid black;
	height: 300px;
	margin-left: 23%;
}

td {
	text-align: center;
	border: 1px solid black;
}

#blank {
	color: #000;
	background-color: #fff;
}

#s {
	font-weight: 800;
	text-transform: uppercase;
	font-family: sans-serif;
	background-color: #ffffff;
}

#seminar {
	font-weight: 800;
	font-family: sans-serif;
	background-color: #ffffff;
	text-transform: uppercase;
}

#sub {
	color: black;
	font-family: sans-serif;
	font-weight: 400;
	background-color: #ffffff;
}

#sub1 {
	background-color: #fff;
}

#sub2 {
	color: black;
	text-transform: uppercase;
	background-color: #ffffff;
}

#sub3 {
	background-color: #ffffff;
	font-family: sans-serif;
	font-weight: 800;
}

#box1 {
	color: cornflowerblue;
	font-family: sans-serif;
	font-weight: 800;
}

#box2 {
	color: darkorange;
	font-weight: 800;
	font-family: sans-serif;
}

#box3 {
	color: darkviolet;
	font-weight: 800;
	font-family: sans-serif;
}

#box4 {
	color: green;
	font-weight: 800;
	font-family: sans-serif;
}

#box5 {
	color: red;
	font-family: sans-serif;
	font-weight: 800;
}

#box6 {
	color: hotpink;
	font-weight: 800;
	font-family: sans-serif;
}

#box7 {
	color: blue;
	font-family: sans-serif;
	font-weight: 800;
}
