@import url('stilus.css');

#table {
	margin-top: 2%;
	border: 1px solid black;
	height: 600px;
    width: 80%;
    border-collapse: separate;
    background-color: var(--accent);
    font-weight: bold;
}

td {
	text-align: center;
	border: 1px solid black;
}

#weekday{
    font-variant: small-caps;
}
